<a href="https://colab.research.google.com/github/assanjayofficial/Python/blob/main/latihan_(lvl_easy).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#DataFrame
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

df = pd.DataFrame(data=d)

print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

In [11]:
import pandas as pd

In [3]:
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11], 'col4' : [22, 23, 24, 25, 26]}

df = pd.DataFrame(data=d)
count_column = df.shape[1]

print("Number of columns:")
print(count_column)

Number of columns:
4

In [5]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11], 'col4' : [22, 23, 24, 25, 26]}

df = pd.DataFrame(data=d)
count_row = df.shape[0]

print("Number of rows:")
print(count_row)

Number of rows:
5

In [7]:
#FunctionMax
Average_pulse_max = max(80, 85, 90, 95, 100, 105, 110, 115, 120, 125)

print (Average_pulse_max)

125

In [8]:
Average_pulse_min = min(80, 85, 90, 95, 100, 105, 110, 115, 120, 125)

print(Average_pulse_min)

#FunctionMin

80

In [9]:
import numpy as np

In [10]:
Calorie_burnage = [240, 250, 260, 270, 280, 290, 300, 310, 320, 330]

Average_calorie_burnage = np.mean(Calorie_burnage)

print(Average_calorie_burnage)

285.0